<!-- <ion-popover-view class="history-popover">
      <ion-content style="position: fixed;overflow-y: auto;">
         <div ng-click="TaskFormsHistory()" style="margin-left: 22px;margin-top: 9px;margin-bottom: 8px;">
		History
		</div>
        <div ng-click="checkRecord()" ng-hide="select_hide" style="margin-left: 22px;margin-top: 9px;margin-bottom: 8px;">
		Select
		</div>
		<div  ng-click="checkAll()" ng-hide="select_all_hide" ng-model="selectedAll" style="margin-left: 22px;margin-top: 9px;margin-bottom: 8px;">
		Select All
		</div>
      </ion-content>
   </ion-popover-view> 
	 -->
	 <!-- TaskFormsHistory() -->
	 <ion-popover-view class="fit history-popover">
        <ion-content  scroll="false">
   <div class="list">
   	<div ng-click="TaskFormsHistory()" class="item div_focus" >
		History
	</div>
	<div ng-click="checkRecords(1)" class="item div_focus" >
		Select
	</div>
	<div ng-click="checkAllRecords(2)" class="item div_focus" >
		Select All
	</div>

	
		
	</div>
      </ion-content>
		
   </ion-popover-view>
   
  
			
     
	
