<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ion-md-input/css/ion-md-input.min.css" rel="stylesheet">
    <link href="customization-TPCL/modified/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="lib/ion.rangeslider/css/normalize.css" />
    <link rel="stylesheet" href="lib/ion.rangeslider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="lib/ion.rangeslider/css/ion.rangeSlider.skinHTML5.css" />
	<script src="js/jquery-1.12.3.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
    <script src="lib/ion-md-input/js/ion-md-input.min.js"></script>
	<link href="lib/ionic-filter-bar/dist/ionic.filter.bar.min.css" rel="stylesheet">  
  <link href="lib/ui-select/dist/select.css" rel="stylesheet">  
    <script src="lib/ui-select/dist/select.js"></script>
  
 <!-- For loading bar -->
    <!-- <link href='build/app.css' rel='stylesheet' /> -->
  <link rel='stylesheet' href='build/loading-bar.min.css' type='text/css' media='all' />
<script type='text/javascript' src='build/loading-bar.min.js'></script>
  <!-- loading bar end -->
	<script src="lib/ionic-filter-bar/dist/ionic.filter.bar.js"></script>  
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">  


	<script src='lib/signature_pad/signature_pad.js'></script>
	<script src="js/ng-cordova.min.js"></script>  
	<script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
	<script src="lib/ionic-rating/ionic-rating.js"></script>
	<script src="lib/ion.rangeslider/js/ion.rangeSlider.js"></script>
	<script src="lib/ion.rangeslider-angularjs/ionic-range-slider.js"></script>
    <script src="cordova.js"></script>
     <!--leaflet libraries  -->
	 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
   	<script src="lib/leaflet/dist/leaflet.js"></script>
    <script src="lib/angular-leaflet-directive.js"></script>
    <link rel="stylesheet" href="lib/leaflet/dist/leaflet.css"/>
        <link rel="stylesheet" href="lib/Control.Geocoder.css" />
    <script src="lib/Control.Geocoder.js"></script>

    <script src="lib/leaflet-routing-machine/js/leaflet-routing-machine.js"></script>
    <script src="lib/leaflet-routing-machine/js/Control.Geocoder.js"></script>
    <script src="lib/leaflet-routing-machine/js/config.js"></script>
    <script src="lib/leaflet-routing-machine/js/Leaflet.Icon.Glyph.js"></script>

	<script src="https://rawgithub.com/mylen/leaflet.TileLayer.WMTS/master/leaflet-tilelayer-wmts.js"></script>
  <!-- am time ago -->
  <script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
  <!-- am time ago -->
  <!-- Videogular components start-->
    <script src="lib/videogular/videogular.js"></script>
    <script src="lib/videogular-controls/vg-controls.js"></script>
    <script src="lib/videogular-overlay-play/vg-overlay-play.js"></script>
    <script src="lib/videogular-poster/vg-poster.js"></script>
    <script src="lib/videogular-buffering/vg-buffering.js"></script>
<!-- videogular components end -->
  <!-- backport form Ue by venki -->
  <!-- <script src="lib/roundProgress.js"></script> -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/3.16.5/math.min.js"></script>
  <script src="lib/GeometryUtil.js"></script>
  
    <!-- 
    Description: roadmap-script.js modified.
    Developer: Santhosh Kumar Gunti
     -->

    <script src="customization-TPCL/modified/controllers/roadmap-script.js"></script>
<!--   <script src="js/formsz-roadmap-module/roadmap-script.js"></script>
 --> 

  <!--leaflet libraries  -->
	<!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script> 
    <script src="js/constants.js"></script> 
	<script src="js/messages.js"></script>
	<!-- your controller's js -->
	<!-- <script src="js/controllers/loginController.js"></script>  -->
    <!-- 
    Description: loginController.js modified.
    Developer: Lokesh sahu
     -->
  <script src="customization-TPCL/modified/controllers/loginController.js"></script>
<!--
@desc 
      Added home screen showed before login page
      @author Santhosh Kumar Gunti
--> 
  <script src="js/controllers/homeController.js"></script>  
    <script src="js/controllers/dashboardController.js"></script>  
    <!-- 
    Description: settingsController.js modified.
    Developer: Lokesh sahu
     -->
    <!-- <script src="js/controllers/notificationCtrl.js"></script>  -->
    <script src="customization-TPCL/modified/controllers/notificationCtrl.js"></script>

    <script src="js/controllers/formsController.js"></script> 
    <script src="js/controllers/reassignCtrl.js"></script>   	
    <script src="js/controllers/tabsController.js"></script>  
    <script src="js/controllers/HistoryController.js"></script> 
    <script src="js/controllers/taskHistoryController.js"></script>  	
    <script src="js/controllers/htmlcomponentsController.js"></script> 
    <script src="js/controllers/reassignHistoryCtrl.js"></script>   
    <script src="js/controllers/TaskController.js"></script>   
    <script src="js/controllers/ProjectTasksController.js"></script>  

    <!-- 
    Description: settingsController.js modified.
    Developer: Santhosh Kumar Gunti
     -->

    <script src="customization-TPCL/modified/controllers/settingsController.js"></script>

<!--     <script src="js/controllers/settingsController.js"></script>
 -->
    <!-- 
    Description: formTaskCtrl.js modified.
    Developer: Santhosh Kumar Gunti
     -->

    <script src="customization-TPCL/modified/controllers/mapctrl.js"></script>

<!-- 	  <script src="js/controllers/mapctrl.js"></script>
 -->
     <!-- 
    Description: projectCtrl.js modified.
    Developer: Lokesh
     -->
    <script src="customization-TPCL/modified/controllers/projectCtrl.js"></script>

    <!-- 
    Description: formTaskCtrl.js modified.
    Developer: Santhosh Kumar Gunti
     -->
  <script src="customization-TPCL/modified/controllers/dropdown.json"></script>

  <script src="customization-TPCL/modified/controllers/formTaskCtrl.js"></script>
<!--     <script src="js/controllers/formTaskCtrl.js"></script>
 -->
   <!-- your services js -->
    <script src="js/services/loginService.js"></script>  
    <script src="js/services/dashboardService.js"></script>   
    <script src="js/services/formDetailsService.js"></script>    
    <script src="js/services/storageService.js"></script>    
    <script src="js/services/alertService.js"></script> 
	 <script src="js/services/formSave.js"></script>     
	 <!-- <script src="js/services/commonService.js"></script> -->
   <!-- 
     By: LS
     Date: 24-04-2018
     Description:  commonService.js modified
    -->
     <script src="customization-TPCL/modified/services/commonService.js"></script> 
    <script src="js/services/setGetObject.js"></script>          
    <script src="js/services/reassignService.js"></script>   
    <script src="js/services/mapService.js"></script> 
     <script src="js/services/globalMethods.js"></script>  
      <script src="js/services/promisingServices.js"></script>  

    <script src='lib/leaflet/plugins/leaflet.draw-custom-src.js'></script> 

    <link rel="stylesheet" href="lib/leaflet-draw/leaflet.draw.css"/>

    

	<!-- your directives js -->
	 <script src="js/directives/itemSlider.js"></script>  
     <script src="js/directives/GoogleSearchDirective.js"></script> 
     <!-- <script src="js/directives/commonDirective.js"></script>   -->
     <!-- 
     By: LS
     Date: 24-04-2018
     Description:  commonDirective.js modified
    -->
     <script src="customization-TPCL/modified/directives/commonDirective.js"></script>
     <script src="customization-TPCL/modified/directives/multiSelectDp.js"></script> 

     <!-- Datetime picker -->
     <!-- 
      Description: pluggin added for date and time picker
      Developer: Lokesh
      Date: 02/04/2018-->
    <script src="lib/ion-datetime-picker/release/ion-datetime-picker.min.js"></script>
    <link href="lib/ion-datetime-picker/release/ion-datetime-picker.min.css" rel="stylesheet">
   <script>
   $('body').on('click', function (e) {
   $('*[popover]').each(function () {
                //Only do this for all popovers other than the current one that cause this event
                if (!($(this).is(e.target) || $(this).has(e.target).length > 0) 
                     && $(this).siblings('.popover').length !== 0 
                     && $(this).siblings('.popover').has(e.target).length === 0)                  
                {
                     //Remove the popover element from the DOM          
                     $(this).siblings('.popover').remove();
                     //Set the state of the popover in the scope to reflect this          
                     angular.element(this).scope().tt_isOpen = false;
                }
    });
});
   </script>
</head>
<body ng-app="starter" class="platform-android platform-cordova platform-webview">
   <ion-nav-view>

   <!--<script id="templates/signature.html" type="text/ng-template">-->
  <!--<ion-popover-view class="sig-popup">-->
    <!--<ion-header-bar class="sig-pop-header">-->
      <!--<h1 class="title" style="left: 0px;">Signature</h1>-->
	   <!--<button class="button button-icon button-clear custom-close-button" style="top:1px;right:0px;" ng-click="closesigPopup()">Close-->
   <!--</button>-->
    <!--</ion-header-bar>-->
    <!--<ion-content class='has-header padding' scroll='false'>-->
          <!--<canvas id='signatureCanvas' width='280' height='180' style='border: 1px solid black;'></canvas>-->
          <!--<div class='button-bar'>-->
              <!--<a class='button button-energized' ng-click='clearCanvas()'>Clear</a>-->
              <!--<a class='button button-balanced' ng-click='saveCanvas()'>Save</a>-->
          <!--</div>-->
         <!--&lt;!&ndash;  <br>-->
          <!--<img ng-src='{{signature}}' style="width:50px; height:50px;"/> &ndash;&gt;-->
      <!--</ion-content>-->
  <!--</ion-popover-view>-->
<!--</script>-->

   </ion-nav-view>
   
</body>
</html>
